body {
    margin: 0;
}

#calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.header #monthTitle {
    font-weight: bold;
    font-size: 20px;
}

.header button {
    font-size: 20px;
    border: 0;
    background-color: transparent;
}

.week {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.week #Sunday {
    color: #ff0000;
}

.date {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 800px;
}

.date div {
    width: 13%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date #today {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e98989;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #ffffff;
    font-weight: bold;
}

.currDate div:nth-child(7n + 1) {
    color: #ff0000;
}

.prevDate,
.nextDate {
    color: #808080;
}

.selectDate {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9d789;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #ffffff;
    font-weight: bold;
}
